/* Tabla */
.content-table {
    caption-side: bottom;
    border-collapse: collapse;
    margin: 8px 0;
    font-size: 0.9rem;
    /* FIX: unidad */
    min-width: 500px;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    table-layout: fixed;
}

.content-table thead tr {
    background-color: #009578;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 8px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background: rgba(0, 0, 0, 0.02);
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009578;
}

.content-table tbody tr:hover {
    font-weight: bold;
    color: #13bf9d;
}

.expand-btn {
    color: #ffffff;
    font-weight: 700;
    background: #009578;
    border: none;
    border-radius: 6px;
    padding: 5px 12px;
    transition: background 0.2s ease-in-out, transform 0.15s;
    cursor: pointer;
    margin-top: 0px;
}

.expand-btn:hover {
    background: #0c5042;
}
.expand-btn--restore {
    color: #ffffff;
    font-weight: 700;
    background: #92a09d;
    border: none;
    border-radius: 6px;
    padding: 5px 12px;
    transition: background 0.2s ease-in-out, transform 0.15s;
    cursor: pointer;
    margin-top: 0px;
}

.expand-btn--restore:hover {
    background: #5d6b68;
}
.expand-btn-edit {
    color: #ffffff;
    font-weight: 700;
    background: rgba(239, 186, 12, 0.937);
    border: none;
    border-radius: 6px;
    padding: 5px 12px;
    transition: background 0.2s ease-in-out, transform 0.15s;
    cursor: pointer;
    margin-top: 0px;
}

.expand-btn-edit:hover {
    background: rgb(192, 148, 5);
}
.expand-btn-trash {
    color: #ffffff;
    font-weight: 700;
    background: #fd3d3d;
    border: none;
    border-radius: 6px;
    padding: 5px 12px;
    transition: background 0.2s ease-in-out, transform 0.15s;
    cursor: pointer;
    margin-top: 0px;
}

.expand-btn-trash:hover {
    background: #c61515;
}

.expand-btn:disabled {
    opacity: 0.55;
    cursor: not-allowed;
    transform: none;
}