.container--list{
    background-color:rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 1.5rem;
    margin: auto;
    min-height: 100px;
    text-align: center;
    color: black;
    border-radius: 20px;
    overflow: hidden;
    box-shadow:  0 10px 30px rgba(0, 0, 0, 0.15);
}


.header--list{
    background-color: rgb(238, 234, 229);
}

.img--list{
    width: 100%;
    height: 100%;
}
.button__icon--list{
    background-color: rgb(238, 234, 229);
    position: absolute;
    border-top-left-radius: 50%;
    overflow: hidden;
    width: 55px;
    height: 58px;
}
.list__father{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0px;
    padding-bottom: 15px;
}

.list__son{
    width: 100% ;
    font-size: 20px;
    text-align: left;
    padding-left: 15px;
    padding-right: auto;
    
    transition: transform 0.2 ease;
    cursor: pointer;
}

.list__son:hover{
    transform: scale(1.02);
    background-color: rgb(186, 181, 174);
    color: white;

}

.header__title--list{
    font-size: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}
