/* Tabla */
.content-table-settings {
    caption-side: bottom;
    border-collapse: collapse;
    margin: 8px 0;
    font-size: 20px;
    min-width: 500px;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    table-layout: fixed;
}

.content-table-settings thead tr {
    background-color: #009578;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

.content-table-settings th,
.content-table-settings td {
    padding: 12px 8px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.content-table-settings tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table-settings tbody tr:nth-of-type(even) {
    background: rgba(0, 0, 0, 0.02);
}

.content-table-settings tbody tr:last-of-type {
    border-bottom: 2px solid #009578;
}

.content-table-settings tbody tr:hover {
    font-weight: bold;
    color: #13bf9d;
    cursor: pointer;
}